---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

.initial-content {
  text-align: justify;
}

.inner {
  margin: auto;
}

hr {
  height: 0.1em;
  background: grey;
  border: 0px;
}

.socials_container {
  width: 100%;
}

.socials {
  width: fit-content;
  margin: auto;
}

.youtube {
  width: 100%;
  // padding-bottom: 75%;
  // background: gold; /** <-- For the demo **/
  aspect-ratio: 16 / 9;
}

.intro {
  margin: 0;
  margin-bottom: 2em;
  background-image: url('/assets/images/background.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.intro-title {
  color: white;
}